<a href="https://colab.research.google.com/github/TamaradosAnjos/Campeonato_Brasileiro/blob/main/Campeonato_Brasileiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv('/content/drive/MyDrive/bq-results-20221019-180248-1666202584733/bq-results-20221019-180248-1666202584733.csv', sep = ",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7030 entries, 0 to 7029
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ano_campeonato            7030 non-null   int64
 1   data                      7030 non-null   object
 2   horario                   7030 non-null   object
 3   rodada                    7030 non-null   int64
 4   estadio                   7019 non-null   object
 5   arbitro                   5320 non-null   object
 6   publico                   5319 non-null   float64
 7   publico_max               2783 non-null   float64
 8   time_man                  7030 non-null   object
 9   time_vis                  7030 non-null   object
 10  tecnico_man               4932 non-null   object
 11  tecnico_vis               4932 non-null   object
 12  colocacao_man             5320 non-null   float64
 13  colocacao_vis             5320 non-null   float64
 14  valor_equipe_titular_man  4932 non-null   float64
 15  valor_equipe_titular_vis  4932 non-null   float64
 16  idade_media_titular_man   4930 non-null   float64
 17  idade_media_titular_vis   4930 non-null   float64
 18  gols_man                  7029 non-null   float64
 19  gols_vis                  7029 non-null   float64
 20  gols_1_tempo_man          5310 non-null   float64
 21  gols_1_tempo_vis          5310 non-null   float64
 22  escanteios_man            753 non-null    float64
 23  escanteios_vis            753 non-null    float64
 24  faltas_man                753 non-null    float64
 25  faltas_vis                753 non-null    float64
 26  chutes_bola_parada_man    753 non-null    float64
 27  chutes_bola_parada_vis    753 non-null    float64
 28  defesas_man               753 non-null    float64
 29  defesas_vis               753 non-null    float64
 30  impedimentos_man          753 non-null    float64
 31  impedimentos_vis          753 non-null    float64
 32  chutes_man                753 non-null    float64
 33  chutes_vis                753 non-null    float64
 34  chutes_fora_man           753 non-null    float64
 35  chutes_fora_vis           753 non-null    float64
dtypes: float64(26), int64(2), object(8)
memory usage: 1.9+ MB

In [6]:
df.head()

,ano_campeonato,data,horario,rodada,estadio,arbitro,publico,publico_max,time_man,time_vis,...,chutes_bola_parada_man,chutes_bola_parada_vis,defesas_man,defesas_vis,impedimentos_man,impedimentos_vis,chutes_man,chutes_vis,chutes_fora_man,chutes_fora_vis
0,2003,2003-03-29,08:00,1,Estádio Brinco de Ouro da Princesa,NaN,NaN,NaN,Guarani,Vasco da Gama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,2003-03-29,08:00,1,Arena da Baixada,NaN,NaN,NaN,Atlético-PR,Grêmio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,2003-03-30,09:00,1,Estádio Jornalista Mário Filho,NaN,NaN,NaN,Flamengo,Coritiba FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,2003-03-30,09:00,1,Estádio de Hailé Pinheiro,NaN,NaN,NaN,Goiás EC,Paysandu SC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,2003-03-30,09:00,1,Estádio Beira-Rio,NaN,NaN,NaN,Internacional,Ponte Preta,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN